/* Body is a flex container with column layout*/
body {
   display: flex;
   flex-direction: column; 
   margin: 0;
   height: 100vh; 
}

/* Main is a flex container with row layout */
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

/* Article takes 1/3 of the space */
article {
    flex: 2;
    overflow-y: auto;
    padding: 1rem;
    background-color: aquamarine;
}

/* Aside takes 1/3 of the space */
aside {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    background-color: aqua;
}


header, footer {
    padding: 1rem;
    background-color: azure;
    text-align: center;
}